# macOS
.DS_Store

# Local environment files
.env
.env.local
.env.*.local

# SSL / PEM files
*.pem

# Node / Expo
node_modules/
.expo/
expo-env.d.ts

# TypeScript build info
*.tsbuildinfo

# Example / template files
app-example

# Android file
local.properties
android/app/build/
android/.gradle/

# Google Service
cct-app-b1c9c-firebase-adminsdk-fbsvc-ac820de45f.json
@emmettmacken__CCT-App_OLD_1.jks
@emmettmacken__CCT-App.jks