# macOS
.DS_Store

# local env files
.env
.env.local
.env.*.local

# Supabase client (sensitive keys)
backend/supabaseClient.js

# SSL / PEM files
*.pem

# TypeScript build info
*.tsbuildinfo

# Example / template files
app-example
